// sass --watch css/styles.scss css/styles.cssX

$clr-color-neutral-100: #fff;
$clr-color-neutral-300: #888;
$clr-color-neutral-600: #555;
$clr-color-neutral-800: #333;

$clr-accent-200: #fdf2e9;
$clr-accent-400: #e7852d;
$clr-accent-500: #e67e22;
$clr-accent-600: #cf711f;

$spacer: 2rem;

// GENERAL STYLING
section {
	padding: 1.5rem 2rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $clr-accent-200;
	padding: 1.5rem;
	.logo {
		height: 1rem;
	}
	.btn-mobile-nav {
		height: 2.2rem;
	}
}

.hero {
	text-align: center;
	padding: 1rem;
	background-color: $clr-accent-200;
	.headline {
		font-size: 2.2rem;
		padding-bottom: $spacer;
	}
	.summary {
		line-height: 1.5;
	}

	&__button {
		display: inline-block;
		text-decoration: none;
		font-weight: 700;
		border-radius: 10px;
		margin: 1rem 0.5rem;
		padding: 1rem;
	}

	&__button--accent {
		color: white;
		background-color: $clr-accent-500;
	}

	&__button--neutral {
		color: $clr-color-neutral-600;
		background-color: $clr-color-neutral-100;
	}

	.delivered-meals {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 0.5rem 0 2rem 0;

		.delivered-images {
			margin-left: 1rem;
			margin-right: 0.5rem;
			min-width: 150px;
		}

		.delivered-images > img {
			display: inline-block;
			width: 35px;
			border-radius: 50%;
			border: 3px solid white;
			margin-left: -15px;
		}
		.delivered-text {
			font-weight: 600;
		}
	}
	.delivered-text span {
		color: $clr-accent-600;
	}

	&__image {
		max-width: 20rem;
		margin: auto;
	}
}

.featured-in {
	color: $clr-color-neutral-300;
	padding: 1rem 0;
	h2 {
		text-align: center;
		margin-bottom: 0.5rem;
		font-size: 0.8rem;
		font-weight: 500;
	}

	&__image-container {
		display: flex;
		justify-content: space-evenly;

		img {
			height: 0.6125rem;
			filter: brightness(0);
			opacity: 50%;
		}
	}
}

section.how {
	.container {
		margin-top: 1rem;

		.subheading {
			color: $clr-accent-600;
			font-size: 0.875rem;
			font-weight: 500;
			letter-spacing: 2px;
		}
		.heading-secondary {
			margin-top: 1.5rem;
			font-weight: 600;
			color: #333;
			font-size: 1.8rem;
			padding-right: 2rem;
		}
	}

	// .step-text-box {
	// 	.step-number {
	// 	}
	// 	.heading-tertiary {
	// 	}
	// 	.step-description {
	// 	}
	// }

	// .step-img-box {
	// 	.step-img {
	// 	}
	// }
}
